@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&family=Volkhov:wght@400;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

strong {
    color: #fa7436;
}

html {
    scroll-behavior: smooth;
}
  